html {
  scroll-behavior: smooth;
  font-size: 10px;
  position: relative;
}

body {
  background-color: $main-background;
  margin: 0;
  position: relative;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ddd; 
  border-radius: 0.8rem;;
}

body::-webkit-scrollbar-thumb {
  background: $tone-color; 
  border-radius: 0.8rem;;
}

body::-webkit-scrollbar-thumb:hover {
  background: $fourth-color; 
}

.wrapper {
  width: $wrapper;
  margin: 0 auto;

  @media (min-width: 36rem) {
    width: 45rem;
  }

  @media (min-width: 48rem) {
    width: 60rem;
  }

  @media (min-width: 76.8rem) {
    width: 72rem;
  }

  @media (min-width: 1080px) {
   width: $desktop-wrapper;
  }
}

.main__title {
  color: $third-color;
  margin-bottom: 7.2rem;
  text-align: left;
  
  h1 {
    font-size: 6.4rem;
    font-weight: bold;
  }

  @media (min-width: 36rem) {
    h1 {
      font-size: 8.8rem
    }
  }

  @media (min-width: 48rem) {
    h1 {
      font-size: 10rem;
    }
  }

  @media (min-width: 76.8rem) {
    h1 {
      font-size: 15.5rem;
    }
  }

}

.background {
  background-image:  url(../../img/whiteShape.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 120%;
  
  @media (min-width: 48rem) {
    background-image: none;
  }
}

.container::before {
  position: absolute;
  width: 48vmax;
  height: 100vmax;
  content: '';
  border-radius: 39% 61% 62% 38% / 30% 49% 51% 70% ;
  background: white;
  animation: wave 8.5s linear infinite;
  left: -20vmin;
  top: -20vmin;
  z-index: -1;

  @media (min-width: 36rem) {
    width: 90vmax;
    height: 90vmax;
  }

}

@keyframes wave {
  
  20% {
    border-radius: 31% 69% 73% 27% / 54% 59% 41% 46%   ;
  }

  40% {
    border-radius: 32% 68% 59% 41% / 54% 47% 53% 46%   ;
  }

  60% {
    border-radius: 54% 46% 70% 30% / 54% 31% 69% 46%   ;
  }
  
  80% {
    border-radius: 66% 34% 53% 47% / 54% 31% 69% 46%  ;
  }

}


.hidden {
  background-color: transparent;
  background-repeat: no-repeat;
  //background-size: 30px 15px;
  border: none;
  overflow: hidden;
  margin: $main-size;
  padding: $main-size;
  text-indent: 100%;
  white-space: nowrap;
}

.transition {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 100%;
  z-index: 1000;
  background-color: #FEA701;
  transition: 0.5s ease-out;
}

.js__active {
  left: 0px;
  transition: 0.5s ease-out;
}

.line {
  background-color: $tone-color;
  height: 0.4rem;
  width: 6rem;
  
  @media (min-width: 1080px) {
    transform: rotate(90deg);
  }
}

.line90 {
  @media (min-width: 1080px) {
    transform: rotate(180deg);
  }
}

.js__green {
  color: $third-color;
  font-weight: bold;
}

.subtitle {
  h2 {
    color: $third-color;
    margin-bottom: $main-size;
  }

  @media (min-width: 1080px) {
    h2 {
      font-size: $maxim-size;
    }
  }
}

.comment_name {
  align-self: flex-end;
}

.upArrow {
  background-image: url(../../img/upArrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 48px;
  bottom: $main-size;
  cursor: pointer;
  padding: $maxim-size;
  position: fixed;
  right: $main-size;
  writing-mode: vertical-lr;
}