/* variables */
$wrapper: 300px;
$desktop-wrapper: 1080px;

/*======== type ========= */
$main-font: 'poppins';
$secondary-font: 'montserrat';

$titles: $main-font;
$bottoms: $main-font;
$links: $main-font;
$paragraf: $secondary-font;

/*========= size ========== */

$size:1rem;
$small-size: $size * 1.4;
$main-size:$size * 1.6;
$medium-size: $size * 1.8;
$large-size: $size * 2;
$maxim-size: $size * 2.4;
$maxim-size-form: $size * 3.2;

/* ============ color ============= */
$main-color: #262627;
$fourth-color: #FF877B;
$third-color:#045a54;
$tone-color: #FEA701;
$tone2-color: #521442;

$paragraf-color: $main-color;
$menu: $main-color;
$click: $third-color;
$border: $fourth-color;

/*========== backgrounds =========== */
$main:#f2f0e8;
$gray: #f7f6f2;
$third: #E9DED7;/*new*/
$fourth: #EDCCC3;

$main-background: $main;
$secondary-background: $gray;
$third-background: $third;
$fourth-background: $fourth;


/*========= letter-space ========== */
$letter-space-small: 0.3rem;

/*========= line-height ========= */
$line-height-medium: 1.8rem;
$line-height-large: 3.2rem;