.project__tag {
  width: 100%;
}

.project__tag--list {
  display: grid;
  column-gap: 0.8rem;
  //justify-items: stretch;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.8rem;
  
  // @media (min-width: 48rem) {
  //   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // }
  
  // @media (min-width: 1080px) {
  //   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // }
}

.project__tag--item {
  align-items: center;
  border: 1px solid $fourth-color;
  font-family: $main-font;
  font-size: $small-size;
  padding: 0.4rem;
  text-align: center;
}