form {
  display: flex;
  flex-direction: column;
  font-size: $small-size;

  @media (min-width: 1080px) {
    justify-content: start;
    width: 50%;
  }

}

.form_label {
  flex: 1 1 100%;
  font-family:$titles;
  text-transform: capitalize;
  color: black;
  padding-bottom: 0.6rem;
}

input, textarea {
  background-color: white;
  border: 0.1px solid #c4c4c4;
  border-radius: 0.2rem;
  flex: 1 1 100%;
  font-family:$paragraf;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.5rem 0.5rem;
}

.form__title {
  font-size: $maxim-size-form;
}

// .form__shape {
//   margin-top: 6.3rem;
//   position: absolute;
//   right: 0;
//   z-index: -1;
// }

.submit {
  align-self: flex-end;
  background-color: $click;
  border: none;
  border-radius: 0.5rem;
  color: $main-background;
  cursor: pointer;
  flex: 0 1 auto;
  font-family: $bottoms;
  padding: 0.6rem 1rem;
  text-transform: uppercase;
}
